@charset "UTF-8";
/* Import Config and Helpers */
/****************************/
/* Load Config and Helpers */
/***************************/
/* Settings */
/* Project Variables */
/* Colors */
/* Bh-Form */
/* Helpers */
/**************************************************************
	
	@include list-reset(margin, orientation)
	-
	Reset a list and force the list items to float left.
	
**************************************************************/
/**************************************************************
	
	@include list-float(margin, orientation)
	-
	Reset a list and force the list items to float left.
	
**************************************************************/
/**************************************************************
	
	@include margin-child(margin, orientation)
	-
	Place a margin on top and bottom, but only if not first or last.
	
**************************************************************/
/**************************************************************
	
	@include image-replace(image-name, file-extension);
	-
	Replace the element with this image
	
**************************************************************/
/**************************************************************

	@include image-replace-auto(image, hover-image, ext)
  -
	Replace the element with this image.
	Automatically generate a css class based on the image name.

**************************************************************/
/**************************************************************

	@include image-bullet(image-name, image-position, file-extension);
	-
	Position an image the left or right of an element.
		
**************************************************************/
/**************************************************************

	@include image-bullet-auto(image-name, image-position, file-extension);
	-
	Position an image the left or right of an element.
	Automatically generate a css class based on the image name.
	
**************************************************************/
/**************************************************************

	@include sized-background-image(image-name, file-extension);
	-
	Set the backgroud image and determine the width & height.

**************************************************************/
/**************************************************************
	
	@include sprite-replace(image-name, number-of-sprites, file-extension);
	-
	Replace the element with this sprite sheet image
	
**************************************************************/
/* Utilities */
/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* =============================================================================
   HTML5 element display
   ========================================================================== */
/* line 14, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 15, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 32, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 34, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 36, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
/* line 44, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 45, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
::selection {
  background: #01bbc7;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 52, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
a {
  color: #00e;
}

/* line 53, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
a:visited {
  color: #551a8b;
}

/* line 54, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
/* line 57, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 64, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
b, strong {
  font-weight: bold;
}

/* line 68, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
blockquote {
  margin: 1em 40px;
}

/* line 70, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
dfn {
  font-style: italic;
}

/* line 72, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 76, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
/* line 79, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 82, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
q {
  quotes: none;
}

/* line 85, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 87, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
/* line 90, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
sup {
  top: -0.5em;
}

/* line 92, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 99, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 100, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 101, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7 http://h5bp.com/d
 * 2. Remove the gap between images and borders on image containers http://h5bp.com/e 
 */
/* line 113, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow displayed oddly in IE9 
 */
/* line 119, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 126, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 133, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
form {
  margin: 0;
}

/* line 134, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
/* line 141, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 144, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 152, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
/* line 159, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
/* line 166, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/*
 * Consistent box sizing and appearance
 */
/* line 172, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 173, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
/* line 180, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Remove default vertical scrollbar in IE6/7/8/9 */
/* line 183, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* Colors for form validity */
/* line 187, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 194, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 204, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 205, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
.ir br {
  display: none;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 209, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 213, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 216, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 219, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 222, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 223, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* line 224, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
.clearfix {
  zoom: 1;
}

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 252, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 253, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 254, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 255, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 256, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 257, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 258, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 259, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 260, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 262, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
  p, h2, h3, .bh-form .bh-header .bh-describe, .bh-table .bh-header .bh-describe {
    orphans: 3;
    widows: 3;
  }

  /* line 263, ../../app/stylesheets/core/utilities/_html5boilerplate.scss */
  h2, h3, .bh-form .bh-header .bh-describe, .bh-table .bh-header .bh-describe {
    page-break-after: avoid;
  }
}
/* line 1, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form, .bh-table {
  color: #333333;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* Form Element */
  /* Form Element Description */
  /* Contains Form Element and Description */
  /* Contains Form Submits and Buttons */
  /* Labels generated by jQuery validation error */
  /* Contains validation errors */
  /* Contains a series of bh-fields */
}
/* line 57, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.bh-form:first-child, .bh-table:first-child {
  margin-top: 0;
}
/* line 58, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.bh-form:last-child, .bh-table:last-child {
  margin-bottom: 0;
}
/* line 5, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form strong, .bh-table strong {
  color: #01737b;
}
/* line 9, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-request, .bh-table .bh-request {
  overflow: hidden;
}
/* line 13, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-describe, .bh-table .bh-describe {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}
/* line 17, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-describe .bh-describe-detail, .bh-table .bh-describe .bh-describe-detail {
  font-size: 11px;
  color: #555555;
  background: #f2f2f2;
  padding: 4px;
  margin-right: 10px;
  margin-top: 4px;
  line-height: 15px;
  font-weight: normal;
}
/* line 27, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-describe span.bh-describe-detail, .bh-table .bh-describe span.bh-describe-detail {
  margin-left: 6px;
}
/* line 30, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-describe .field_with_errors, .bh-table .bh-describe .field_with_errors {
  display: inline-block;
  width: 100%;
  background: #FFA5A5;
  color: #720000;
}
/* line 38, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-field, .bh-table .bh-field {
  overflow: auto;
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 57, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.bh-form .bh-field:first-child, .bh-table .bh-field:first-child {
  margin-top: 0;
}
/* line 58, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.bh-form .bh-field:last-child, .bh-table .bh-field:last-child {
  margin-bottom: 0;
}
/* line 44, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-field .bh-describe, .bh-table .bh-field .bh-describe {
  width: 30%;
  float: left;
}
/* line 48, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-field .bh-request, .bh-table .bh-field .bh-request {
  float: left;
  width: 70%;
}
/* line 52, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-field:last-child, .bh-table .bh-field:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
/* line 56, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-field.dependant-active, .bh-table .bh-field.dependant-active {
  border-bottom: 0;
}
/* line 60, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-field.bh-radio_buttons, .bh-table .bh-field.bh-radio_buttons {
  overflow: auto;
}
/* line 62, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-field.bh-radio_buttons > .bh-request, .bh-table .bh-field.bh-radio_buttons > .bh-request {
  padding-top: 10px;
}
/* line 64, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-field.bh-radio_buttons > .bh-request input, .bh-table .bh-field.bh-radio_buttons > .bh-request input {
  width: auto;
}
/* line 69, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-radio_button, .bh-table .bh-radio_button {
  display: inline-block;
  margin-right: 10px;
}
/* line 72, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-radio_button > .bh-describe, .bh-table .bh-radio_button > .bh-describe {
  width: auto;
  display: inline;
  padding: 0px;
}
/* line 76, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-radio_button > .bh-describe .field_with_errors, .bh-table .bh-radio_button > .bh-describe .field_with_errors {
  display: inline;
}
/* line 80, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-radio_button > .bh-request, .bh-table .bh-radio_button > .bh-request {
  display: inline;
  width: auto;
  padding-right: 5px;
}
/* line 84, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-radio_button > .bh-request .field_with_errors, .bh-table .bh-radio_button > .bh-request .field_with_errors {
  display: inline;
  border-color: #a50000;
}
/* line 90, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-checkbox, .bh-table .bh-checkbox {
  padding-left: 30%;
}
/* line 92, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-checkbox > .bh-describe, .bh-table .bh-checkbox > .bh-describe {
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline;
  text-align: left;
  width: auto;
}
/* line 99, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-checkbox > .bh-request, .bh-table .bh-checkbox > .bh-request {
  vertical-align: middle;
  display: inline;
  width: auto;
  padding-right: 10px;
  text-align: left;
}
/* line 109, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-textfield > .bh-request input, .bh-table .bh-textfield > .bh-request input {
  color: #333333;
  font-size: 13px;
  padding: 10px;
  border: 1px solid #999999;
  background-color: #f4f4f4;
  width: 60%;
}
/* line 116, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-textfield > .bh-request input.hasDatepicker, .bh-table .bh-textfield > .bh-request input.hasDatepicker {
  border-color: #D07800;
  background: #f8ead7;
}
/* line 122, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-textfield > .bh-request .field_with_errors input, .bh-table .bh-textfield > .bh-request .field_with_errors input {
  border-color: #a50000;
  background: #ffd8d8;
}
/* line 129, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-textfield.bh-disabled > .bh-request input, .bh-table .bh-textfield.bh-disabled > .bh-request input {
  background: #f2f2f2;
  color: #555;
}
/* line 137, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-passwordfield > .bh-request input, .bh-table .bh-passwordfield > .bh-request input {
  color: #333333;
  font-size: 13px;
  padding: 10px;
  border: 1px solid #999999;
  background-color: #f4f4f4;
  width: 60%;
}
/* line 149, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-textarea > .bh-request textarea, .bh-table .bh-textarea > .bh-request textarea {
  width: 95%;
  height: 100px;
  color: #333333;
  font-size: 13px;
  padding: 10px;
  border: 1px solid #999999;
  background-color: #f4f4f4;
}
/* line 160, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-textarea.bh-disabled > .bh-request textarea, .bh-table .bh-textarea.bh-disabled > .bh-request textarea {
  background: #f2f2f2;
  color: #555;
}
/* line 169, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-select > .bh-request, .bh-table .bh-select > .bh-request {
  padding-top: 10px;
}
/* line 176, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-actions input, .bh-table .bh-actions input, .bh-form .bh-actions a, .bh-table .bh-actions a, .bh-form.bh-actions input, .bh-actions.bh-table input, .bh-form.bh-actions a, .bh-actions.bh-table a {
  text-align: left;
  padding: 10px;
  background-color: #01bbc7;
  color: #ffffff;
  font-weight: bold;
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 184, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-actions input:hover, .bh-table .bh-actions input:hover, .bh-form .bh-actions a:hover, .bh-table .bh-actions a:hover, .bh-form.bh-actions input:hover, .bh-actions.bh-table input:hover, .bh-form.bh-actions a:hover, .bh-actions.bh-table a:hover {
  cursor: pointer;
}
/* line 188, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-actions a, .bh-table .bh-actions a, .bh-form.bh-actions a, .bh-actions.bh-table a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}
/* line 194, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-actions .not-important, .bh-table .bh-actions .not-important, .bh-form .bh-actions .not-important input, .bh-table .bh-actions .not-important input, .bh-form .bh-actions .not-important a, .bh-table .bh-actions .not-important a, .bh-form.bh-actions .not-important, .bh-actions.bh-table .not-important, .bh-form.bh-actions .not-important input, .bh-actions.bh-table .not-important input, .bh-form.bh-actions .not-important a, .bh-actions.bh-table .not-important a {
  background-color: #999999;
  color: white;
}
/* line 197, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-actions .not-important:hover, .bh-table .bh-actions .not-important:hover, .bh-form .bh-actions .not-important input:hover, .bh-table .bh-actions .not-important input:hover, .bh-form .bh-actions .not-important a:hover, .bh-table .bh-actions .not-important a:hover, .bh-form.bh-actions .not-important:hover, .bh-actions.bh-table .not-important:hover, .bh-form.bh-actions .not-important input:hover, .bh-actions.bh-table .not-important input:hover, .bh-form.bh-actions .not-important a:hover, .bh-actions.bh-table .not-important a:hover {
  background-color: #01bbc7;
}
/* line 205, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form label.error, .bh-table label.error {
  clear: both;
  display: block;
  display: inline-block;
  background-color: #F4B5B6;
  font-size: 11px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #A81015;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}
/* line 217, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-errors, .bh-table .bh-errors {
  max-height: 100px;
  overflow: auto;
  display: block;
  background-color: #FFA5A5;
  border: 1px solid #A40000;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 57, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.bh-form .bh-errors:first-child, .bh-table .bh-errors:first-child {
  margin-top: 0;
}
/* line 58, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.bh-form .bh-errors:last-child, .bh-table .bh-errors:last-child {
  margin-bottom: 0;
}
/* line 226, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-errors strong, .bh-table .bh-errors strong {
  color: #000;
}
/* line 229, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-errors ul, .bh-table .bh-errors ul {
  list-style: none;
  vertical-align: top;
  margin: 0;
  padding: 0;
  overflow: auto;
}
/* line 16, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.bh-form .bh-errors ul li, .bh-table .bh-errors ul li {
  padding: 0;
  margin: 0;
}
/* line 234, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-disabled input, .bh-table .bh-disabled input, .bh-form .bh-disabled textarea, .bh-table .bh-disabled textarea {
  background: #ddd;
  color: #777;
}
/* line 241, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .not-important, .bh-table .not-important, .bh-form .not-important input, .bh-table .not-important input, .bh-form .not-important a, .bh-table .not-important a {
  background-color: #999999;
  color: white;
}
/* line 247, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-group, .bh-table .bh-group {
  background: #eee;
  border: 1px solid #999999;
  border-left: 10px solid #01bbc7;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 57, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.bh-form .bh-group:first-child, .bh-table .bh-group:first-child {
  margin-top: 0;
}
/* line 58, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.bh-form .bh-group:last-child, .bh-table .bh-group:last-child {
  margin-bottom: 0;
}
/* line 255, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-group .bh-textfield input, .bh-table .bh-group .bh-textfield input,
.bh-form .bh-group .bh-passwordfield input,
.bh-table .bh-group .bh-passwordfield input {
  background: #fff;
}
/* line 260, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-group .bh-textarea textarea, .bh-table .bh-group .bh-textarea textarea {
  background-color: #fff;
}
/* line 264, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-group .bh-table, .bh-table .bh-group .bh-table {
  background: #fff;
}
/* line 269, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-header, .bh-table .bh-header {
  overflow: hidden;
}
/* line 271, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-header .bh-describe, .bh-table .bh-header .bh-describe {
  width: auto;
  float: left;
}
/* line 276, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-header .bh-request, .bh-table .bh-header .bh-request {
  width: auto;
  margin-left: 10px;
  float: left;
}
/* line 283, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-information .bh-request, .bh-table .bh-information .bh-request {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
/* line 291, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-required > .bh-describe label, .bh-table .bh-required > .bh-describe label {
  background: url('/images/bh-form/bh-required.png?1328277136') left 30% no-repeat;
  padding-left: 10px;
}
/* line 296, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-required > .bh-describe h1 label, .bh-table .bh-required > .bh-describe h1 label, .bh-form .bh-required > .bh-describe h2 label, .bh-table .bh-required > .bh-describe h2 label, .bh-form .bh-required > .bh-describe h3 label, .bh-table .bh-required > .bh-describe h3 label, .bh-form .bh-required > .bh-describe .bh-header .bh-describe label, .bh-form .bh-header .bh-required > .bh-describe .bh-describe label, .bh-table .bh-required > .bh-describe .bh-form .bh-header .bh-describe label, .bh-form .bh-header .bh-table .bh-required > .bh-describe .bh-describe label, .bh-form .bh-required > .bh-describe .bh-table .bh-header .bh-describe label, .bh-table .bh-header .bh-form .bh-required > .bh-describe .bh-describe label, .bh-table .bh-required > .bh-describe .bh-header .bh-describe label, .bh-table .bh-header .bh-required > .bh-describe .bh-describe label {
  padding-left: 14px;
}
/* line 302, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list, .bh-table .bh-list {
  overflow: auto;
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 57, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.bh-form .bh-list:first-child, .bh-table .bh-list:first-child {
  margin-top: 0;
}
/* line 58, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.bh-form .bh-list:last-child, .bh-table .bh-list:last-child {
  margin-bottom: 0;
}
/* line 308, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list > .bh-describe, .bh-table .bh-list > .bh-describe {
  width: 30%;
  float: left;
}
/* line 312, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list > .bh-request, .bh-table .bh-list > .bh-request {
  width: 70%;
  float: left;
}
/* line 317, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list .bh-select > .bh-request, .bh-table .bh-list .bh-select > .bh-request {
  padding-top: 10px;
}
/* line 323, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-checkboxes ul, .bh-table .bh-list.bh-checkboxes ul {
  list-style: none;
  vertical-align: top;
  margin: 0;
  padding: 0;
  overflow: auto;
}
/* line 16, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.bh-form .bh-list.bh-checkboxes ul li, .bh-table .bh-list.bh-checkboxes ul li {
  padding: 0;
  margin: 0;
}
/* line 33, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.bh-form .bh-list.bh-checkboxes ul li, .bh-table .bh-list.bh-checkboxes ul li {
  float: left;
}
/* line 325, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-checkboxes ul li, .bh-table .bh-list.bh-checkboxes ul li {
  width: 30%;
  float: left;
  margin: 5px 0;
}
/* line 329, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-checkboxes ul li .bh-checkbox, .bh-table .bh-list.bh-checkboxes ul li .bh-checkbox {
  padding: 0px;
}
/* line 336, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-textfields > .bh-describe, .bh-table .bh-list.bh-textfields > .bh-describe {
  width: auto;
  float: none;
}
/* line 340, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-textfields > .bh-request, .bh-table .bh-list.bh-textfields > .bh-request {
  width: auto;
  float: none;
}
/* line 343, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-textfields > .bh-request ul, .bh-table .bh-list.bh-textfields > .bh-request ul {
  overflow: auto;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 348, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-textfields > .bh-request ul li, .bh-table .bh-list.bh-textfields > .bh-request ul li {
  margin: 0px;
  padding: 0px;
  width: 50%;
  float: left;
}
/* line 353, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-textfields > .bh-request ul li > .bh-field, .bh-table .bh-list.bh-textfields > .bh-request ul li > .bh-field {
  margin-bottom: 5px;
  padding-bottom: 5px;
}
/* line 356, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-textfields > .bh-request ul li > .bh-field > .bh-describe, .bh-table .bh-list.bh-textfields > .bh-request ul li > .bh-field > .bh-describe {
  text-align: right;
  width: 20%;
}
/* line 359, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-textfields > .bh-request ul li > .bh-field > .bh-describe label, .bh-table .bh-list.bh-textfields > .bh-request ul li > .bh-field > .bh-describe label {
  padding-right: 10px;
}
/* line 365, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-textfields > .bh-request ul li > .bh-textfield > .bh-request, .bh-table .bh-list.bh-textfields > .bh-request ul li > .bh-textfield > .bh-request {
  width: 80%;
}
/* line 367, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-textfields > .bh-request ul li > .bh-textfield > .bh-request input, .bh-table .bh-list.bh-textfields > .bh-request ul li > .bh-textfield > .bh-request input {
  width: 90%;
}
/* line 379, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-radio_buttons > .bh-describe, .bh-table .bh-list.bh-radio_buttons > .bh-describe {
  width: auto;
  float: none;
  padding: 0px;
}
/* line 383, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-radio_buttons > .bh-describe label, .bh-table .bh-list.bh-radio_buttons > .bh-describe label {
  font-size: 14px;
  font-weight: bold;
  color: #01737b;
}
/* line 389, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-radio_buttons > .bh-describe .field_with_errors label, .bh-table .bh-list.bh-radio_buttons > .bh-describe .field_with_errors label {
  color: #720000;
  background: #FFA5A5;
}
/* line 395, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-radio_buttons ul, .bh-table .bh-list.bh-radio_buttons ul {
  list-style: none;
  vertical-align: top;
  margin: 0;
  padding: 0;
  overflow: auto;
}
/* line 16, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.bh-form .bh-list.bh-radio_buttons ul li, .bh-table .bh-list.bh-radio_buttons ul li {
  padding: 0;
  margin: 0;
}
/* line 397, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .bh-list.bh-radio_buttons ul li, .bh-table .bh-list.bh-radio_buttons ul li {
  margin: 10px 0;
}
/* line 402, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-form .datepicker, .bh-table .datepicker {
  margin: 10px 0;
}

/* line 407, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-table {
  width: 100%;
}
/* line 410, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-table th {
  font-weight: bold;
  background-color: #f2f2f2;
}
/* line 414, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-table th, .bh-table td {
  vertical-align: top;
  padding: 10px;
  border: 1px solid #999999;
}
/* line 419, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-table .bh-actions {
  vertical-align: middle;
  text-align: center;
}
/* line 422, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-table .bh-actions input, .bh-table .bh-actions a {
  margin-bottom: 5px;
  margin-right: 5px;
}
/* line 427, ../../app/stylesheets/core/utilities/_bh_form.scss */
.bh-table .bh-actions.bh-subtle input, .bh-table .bh-actions.bh-subtle a {
  padding: 2px 4px;
  color: #ffffff;
  font-weight: bold;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
}

/* Styles */
/* line 1, ../../app/stylesheets/partials/_layout.scss */
html {
  background: url('/images/bg-html.jpg?1328277136') center top no-repeat #e2e2e2;
}
/* line 3, ../../app/stylesheets/partials/_layout.scss */
html #container {
  margin: 0 auto;
  width: 940px;
  background: url('/images/bg-html.jpg?1328277136') center top no-repeat #e2e2e2;
}
/* line 7, ../../app/stylesheets/partials/_layout.scss */
html #container #main {
  margin-top: 20px;
  overflow: hidden;
}
/* line 10, ../../app/stylesheets/partials/_layout.scss */
html #container #main section.main {
  float: left;
  width: 640px;
}
/* line 13, ../../app/stylesheets/partials/_layout.scss */
html #container #main section.main .inner-section-main {
  margin: 0 40px;
}
/* line 17, ../../app/stylesheets/partials/_layout.scss */
html #container #main aside.main {
  float: left;
  width: 300px;
}
/* line 20, ../../app/stylesheets/partials/_layout.scss */
html #container #main aside.main .inner-aside-main {
  margin: 0 40px;
}

/* line 27, ../../app/stylesheets/partials/_layout.scss */
#after_main {
  background: url('/images/contact-bg.jpg?1328277136') center no-repeat #564857;
}
/* line 29, ../../app/stylesheets/partials/_layout.scss */
#after_main .inner-after-main {
  max-width: 960px;
  margin: 0 auto;
}
/* line 33, ../../app/stylesheets/partials/_layout.scss */
#after_main section.contact {
  margin-top: 10px;
}
/* line 36, ../../app/stylesheets/partials/_layout.scss */
#after_main section.contact .inner-section-contact {
  margin-left: 330px;
  padding-left: 20px;
}
/* line 41, ../../app/stylesheets/partials/_layout.scss */
#after_main section.contact a {
  font-size: 14px;
  display: inline;
  text-decoration: none;
  color: #b29ab4;
}
/* line 47, ../../app/stylesheets/partials/_layout.scss */
#after_main section.contact .title {
  padding-top: 45px;
  padding-bottom: 20px;
}
/* line 50, ../../app/stylesheets/partials/_layout.scss */
#after_main section.contact .title p {
  display: inline;
  font-size: 22px;
  color: #d9d9d9;
}

/* line 60, ../../app/stylesheets/partials/_layout.scss */
#thanks {
  margin-left: 30%;
}

/* line 66, ../../app/stylesheets/partials/_layout.scss */
body.namespace-contacts .contact-icon {
  display: none;
}

/* line 74, ../../app/stylesheets/partials/_layout.scss */
body.namespace-action-resume #container #main {
  padding-bottom: 80px;
  overflow: hidden;
  margin: 80px 160px 80px 160px;
}
/* line 79, ../../app/stylesheets/partials/_layout.scss */
body.namespace-action-resume #container #references {
  margin-top: 40px;
  color: red;
  text-align: center;
}
/* line 84, ../../app/stylesheets/partials/_layout.scss */
body.namespace-action-resume #container h3, body.namespace-action-resume #container .bh-form .bh-header .bh-describe, .bh-form .bh-header body.namespace-action-resume #container .bh-describe, body.namespace-action-resume #container .bh-table .bh-header .bh-describe, .bh-table .bh-header body.namespace-action-resume #container .bh-describe {
  color: #b23021;
}
/* line 88, ../../app/stylesheets/partials/_layout.scss */
body.namespace-action-resume #container #resume-header h1 {
  color: #b23021;
}

/* line 95, ../../app/stylesheets/partials/_layout.scss */
#work-history a {
  text-decoration: none;
}
/* line 98, ../../app/stylesheets/partials/_layout.scss */
#work-history li {
  list-style: none;
}

/* line 1, ../../app/stylesheets/partials/_typography.scss */
h2 {
  font-size: 20px;
  font-weight: normal;
  color: #333333;
}

/* line 8, ../../app/stylesheets/partials/_typography.scss */
.namespace-action-resume ul {
  padding-left: 20px;
}
/* line 11, ../../app/stylesheets/partials/_typography.scss */
.namespace-action-resume a {
  color: #703273;
}

/* line 89, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.send_message,
.send_message.active:hover {
  background: url('/images/send_message.png?1328277136') top left no-repeat transparent;
  width: 114px;
  height: 40px;
  display: block;
  text-indent: -9999px;
  text-align: left;
  border: 0;
}

/* line 92, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
input.send_message {
  cursor: pointer;
}

/* line 89, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.contact-icon,
.contact-icon.active:hover {
  background: url('/images/contact-icon.png?1328277136') top left no-repeat transparent;
  width: 1133px;
  height: 172px;
  display: block;
  text-indent: -9999px;
  text-align: left;
  border: 0;
}

/* line 92, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
input.contact-icon {
  cursor: pointer;
}

/* line 89, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.next-button,
.next-button.active:hover {
  background: url('/images/next-button.png?1328277136') top left no-repeat transparent;
  width: 26px;
  height: 48px;
  display: block;
  text-indent: -9999px;
  text-align: left;
  border: 0;
}

/* line 92, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
input.next-button {
  cursor: pointer;
}

/* line 89, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.prev-button,
.prev-button.active:hover {
  background: url('/images/prev-button.png?1328277136') top left no-repeat transparent;
  width: 26px;
  height: 48px;
  display: block;
  text-indent: -9999px;
  text-align: left;
  border: 0;
}

/* line 92, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
input.prev-button {
  cursor: pointer;
}

/* line 6, ../../app/stylesheets/partials/_image_replace.scss */
.contact-icon {
  width: auto;
  background-position: top center;
  margin: 40px auto;
}

/* line 89, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.icon-linkedin,
.icon-linkedin.active:hover {
  background: url('/images/icon-linkedin.png?1328277136') top left no-repeat transparent;
  width: 40px;
  height: 40px;
  display: block;
  text-indent: -9999px;
  text-align: left;
  border: 0;
}

/* line 92, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
input.icon-linkedin {
  cursor: pointer;
}

/* line 89, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.icon-twitter,
.icon-twitter.active:hover {
  background: url('/images/icon-twitter.png?1328277136') top left no-repeat transparent;
  width: 40px;
  height: 40px;
  display: block;
  text-indent: -9999px;
  text-align: left;
  border: 0;
}

/* line 92, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
input.icon-twitter {
  cursor: pointer;
}

/* line 89, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
.icon-googleplus,
.icon-googleplus.active:hover {
  background: url('/images/icon-googleplus.png?1328277602') top left no-repeat transparent;
  width: 40px;
  height: 40px;
  display: block;
  text-indent: -9999px;
  text-align: left;
  border: 0;
}

/* line 92, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
input.icon-googleplus {
  cursor: pointer;
}

/* line 3, ../../app/stylesheets/partials/_forms.scss */
section.contact .bh-describe {
  color: #b29ab4;
  margin-top: 20px;
  margin-bottom: 5px;
}
/* line 8, ../../app/stylesheets/partials/_forms.scss */
section.contact .bh-field {
  margin-bottom: 10px;
}
/* line 12, ../../app/stylesheets/partials/_forms.scss */
section.contact .bh-textarea textarea {
  height: 150px;
  width: 390px;
  background: transparent;
  color: #d1b6d3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #7f6c81;
  outline: 0;
  padding: 5px;
}
/* line 24, ../../app/stylesheets/partials/_forms.scss */
section.contact .bh-textfield input {
  width: 220px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #7f6c81;
  background: transparent;
  outline: 0;
  padding: 5px;
  color: #d1b6d3;
  font: arial;
  font-size: 13px;
}
/* line 36, ../../app/stylesheets/partials/_forms.scss */
section.contact .bh-actions {
  padding-top: 10px;
  padding-bottom: 40px;
  margin-bottom: 0px;
}
/* line 42, ../../app/stylesheets/partials/_forms.scss */
section.contact textarea::-webkit-input-placeholder,
section.contact input::-webkit-input-placeholder {
  color: #c1b9c2;
}
/* line 46, ../../app/stylesheets/partials/_forms.scss */
section.contact textarea:-moz-placeholder,
section.contact input:-moz-placeholder {
  color: #c1b9c2;
}
/* line 49, ../../app/stylesheets/partials/_forms.scss */
section.contact .errors {
  margin-bottom: 20px;
  overflow: auto;
}
/* line 52, ../../app/stylesheets/partials/_forms.scss */
section.contact .errors .inner-error {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #e2e2e2;
  padding: 10px;
  float: left;
  overflow: auto;
  margin-right: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
}
/* line 63, ../../app/stylesheets/partials/_forms.scss */
section.contact .errors .inner-error .error-name {
  color: #333;
  float: left;
  margin-right: 5px;
}
/* line 68, ../../app/stylesheets/partials/_forms.scss */
section.contact .errors .inner-error .error-message {
  color: #b23021;
  float: left;
  font-weight: bold;
}

/* line 3, ../../app/stylesheets/partials/_display.scss */
#meet-and-greet .content {
  margin-top: 16px;
}
/* line 7, ../../app/stylesheets/partials/_display.scss */
#meet-and-greet .title {
  font-family: Trebuchet MS;
}

/* line 11, ../../app/stylesheets/partials/_display.scss */
.thumbnail {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
  -moz-box-shadow: #bbbbbb 1px 1px 5px;
  -webkit-box-shadow: #bbbbbb 1px 1px 5px;
  -o-box-shadow: #bbbbbb 1px 1px 5px;
  box-shadow: #bbbbbb 1px 1px 5px;
}
/* line 15, ../../app/stylesheets/partials/_display.scss */
.thumbnail .inner-thumbnail {
  overflow: hidden;
  border: 5px solid #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 19, ../../app/stylesheets/partials/_display.scss */
.thumbnail .inner-thumbnail img {
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 1, ../../app/stylesheets/partials/_header.scss */
header.website {
  background: url('/images/bg-html.jpg?1328277136') #e2e2e2 center top;
  height: 168px;
  position: relative;
}
/* line 6, ../../app/stylesheets/partials/_header.scss */
header.website #logo {
  background: url('/images/logo.png?1328277136') transparent no-repeat;
  display: block;
  margin: 0 auto;
  width: 114px;
  text-indent: -9999px;
  height: 64px;
  top: 52px;
  position: relative;
  left: 0px;
}
/* line 17, ../../app/stylesheets/partials/_header.scss */
header.website .social-media {
  position: absolute;
  right: 40px;
  top: 60px;
  list-style: none;
  vertical-align: top;
  margin: 0;
  padding: 0;
  overflow: auto;
}
/* line 16, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
header.website .social-media li {
  padding: 0;
  margin: 0;
}
/* line 33, ../../app/stylesheets/core/helpers/_bh_helpers.scss */
header.website .social-media li {
  float: left;
}
/* line 23, ../../app/stylesheets/partials/_header.scss */
header.website .social-media ul li {
  margin-left: 10px;
}
