.bh-form{
  color:$color-body;
  font-size:$size-body;
  @include margin-child;
	strong{
	  color:adjust-lightness($color-link, -15);;
	}
	/* Form Element */
  .bh-request{
    overflow:hidden;
  }
  /* Form Element Description */
	.bh-describe{
	  padding-top:10px;
	  padding-bottom:10px;
    overflow:hidden;
    .bh-describe-detail{
      font-size:$size-body-small;
      color:$color-body-less;
      background:#f2f2f2;
      padding:4px;
      margin-right:10px;
      margin-top:4px;
      line-height:15px;
      font-weight:normal;
    }
    span.bh-describe-detail{
      margin-left:6px;
    }
    .field_with_errors{
      display: inline-block;
      width: 100%;
      background:#FFA5A5;
      color:adjust-lightness(#FFA5A5, -60);;
    }
  }
  /* Contains Form Element and Description */
  .bh-field{
    overflow:auto;
    border-bottom:1px solid $bh-form-divider-color;
    padding-bottom:10px;
    @include margin-child;
    
    .bh-describe{
      width:30%;
      float:left;
    }
    .bh-request{
      float:left;
      width:70%;
    }
    &:last-child{
      border-bottom:0;
      padding-bottom:0;
    }
    &.dependant-active{
      border-bottom:0;
    }
  }
  .bh-field.bh-radio_buttons{
    overflow:auto;
    >.bh-request{
      padding-top:10px;
      input{
        width:auto;
      }
    }
  }
  .bh-radio_button{
    display:inline-block;
    margin-right:10px;
    >.bh-describe{
      width:auto;
      display:inline;
      padding:0px;
      .field_with_errors{
        display:inline;
      }
    }
    >.bh-request{
      display:inline;
      width:auto;
      padding-right:5px;
      .field_with_errors{
        display:inline;
        border-color:adjust-lightness(#FFA5A5, -50);;
      }
    }
  }
  .bh-checkbox{
    padding-left:30%;
    >.bh-describe{
      padding-top:0px;
      padding-bottom:0px;
      display:inline;
      text-align:left;
      width:auto;
    }
    >.bh-request{
      vertical-align:middle;
      display:inline;
      width:auto;
      padding-right:10px;
      text-align:left;
    }
  }
  .bh-textfield{
    >.bh-request{
      input{
        color:$color-body;
        font-size:$size-body;
        padding:10px;
        border:1px solid $bh-form-border-color;
        background-color:#f4f4f4;
        width:60%;
        &.hasDatepicker{
          border-color:#D07800;
          background:adjust-saturation( adjust-lightness(#D07800, 50), -30);
        }
      }
      .field_with_errors{
        input{
          border-color:adjust-lightness(#FFA5A5, -50);;
          background:adjust-lightness(#FFA5A5, 10);
        }
      }
    }
    &.bh-disabled{
      >.bh-request input{
        background:#f2f2f2;
        color:#555;
      }
    }
  }
  .bh-passwordfield{
    >.bh-request{
      input{
        color:$color-body;
        font-size:$size-body;
        padding:10px;
        border:1px solid $bh-form-border-color;
        background-color:#f4f4f4;
        width:60%;
      }
    }
  }
  .bh-textarea{
    >.bh-request{
      textarea{
        width:95%;
        height:100px;
        color:$color-body;
        font-size:$size-body;
        padding:10px;
        border:1px solid $bh-form-border-color;
        background-color:#f4f4f4;
      }
    }
    &.bh-disabled{
      >.bh-request textarea{
        background:#f2f2f2;
        color:#555;
      }
    }
    

  }
  .bh-select{
    >.bh-request{
      padding-top:10px;
    }
  }
  /* Contains Form Submits and Buttons */
  .bh-actions,
  &.bh-actions{
    input,a{
      text-align:left;
      padding: 10px;
      background-color: $color-link;
      color: #ffffff;
      font-weight: bold;
      border:none;
      @include border-radius(10px);
      &:hover{
        cursor:pointer;
      }
    }
    a{
      display:inline-block;
      padding:10px;
      text-decoration:none;
    }
    .not-important{
      &,input,a{
        background-color:$color-not-important;
        color: white;
        &:hover{
          background-color:$color-link;
        }
      }
    }
    
  }
  /* Labels generated by jQuery validation error */
  label.error{
    clear:both;
    display:block;
    display:inline-block;
    background-color: #F4B5B6;
    font-size: 11px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #A81015;
    @include border-radius(15px);
  }
  /* Contains validation errors */
  .bh-errors{
    max-height:100px;
    overflow:auto;
    display:block;
    background-color: #FFA5A5;
    border: 1px solid #A40000;
    padding: 5px;
    @include border-radius(5px);
    @include margin-child;
    strong{
      color:#000;
    }
    ul{
      @include list-reset;
    }
  }
  .bh-disabled{
    input,textarea{
      background:#ddd;
      color:#777;
      
    }
  }
  .not-important{
    &,input,a{
      background-color:$color-not-important;
      color: white;
    }
  }
  /* Contains a series of bh-fields */
  .bh-group{
    background:#eee;
    border:1px solid $bh-form-border-color;
    border-left:10px solid $color-link;
    padding: 10px;
    @include margin-child(20px);
    .bh-textfield,
    .bh-passwordfield{
      input{
        background:#fff;
      }
    }
    .bh-textarea{
      textarea{
        background-color:#fff;
      }
    }
    .bh-table{
      background:#fff;
      
    }
  }
  .bh-header{
    overflow:hidden;
    .bh-describe{
      @extend h3;
      width:auto;
      float:left;
    }
    .bh-request{
      width:auto;
      margin-left:10px;
      float:left;
    }
  }
  .bh-information{
    .bh-request{
      padding-top:10px;
      padding-bottom:10px;
      font-weight:bold;
    }
  }
  .bh-required{
    >.bh-describe{
      label{
        background:image-url('bh-form/bh-required.png') left 30% no-repeat ;
        padding-left:image-width('bh-form/bh-required.png') + 4px;
      }
      h1,h2,h3{
        label{
          padding-left:image-width('bh-form/bh-required.png') + 8px;
        }
      }
    }
  }
  .bh-list{
    overflow:auto;
    border-bottom:1px solid $bh-form-divider-color;
    padding-bottom:10px;
    @include margin-child;
    
    >.bh-describe{
      width:30%;
      float:left;
    }
    >.bh-request{
      width:70%;
      float:left;
    }
    .bh-select{
      >.bh-request{
        padding-top:10px;
      }
    }
  }
  .bh-list.bh-checkboxes{
    ul{
      @include list-float;
      li{
        width:30%;
        float:left;
        margin:5px 0;
        .bh-checkbox{
          padding:0px;
        }
      }
    }
  }
  .bh-list.bh-textfields{
    >.bh-describe{
      width:auto;
      float:none;
    }
    >.bh-request{
      width:auto;
      float:none;
      ul{
        overflow:auto;
        margin:0px;
        padding:0px;
        list-style:none;
        li{
          margin:0px;
          padding:0px;
          width:50%;
          float:left;
          >.bh-field{
            margin-bottom:5px;
            padding-bottom:5px;
            >.bh-describe{
              text-align:right;
              width:20%;
              label{
                padding-right: 10px;
              }
            }
          }
          >.bh-textfield{
            >.bh-request{
              width:80%;
              input{
                width:90%;
              }
            }
          }
          
        }
      }
    }
    
  }
  .bh-list.bh-radio_buttons{
    >.bh-describe{
      width:auto;
      float:none;
      padding:0px;
      label{
        font-size:14px;
        font-weight:bold;
        color:adjust-lightness($color-link, -15);;
      }
      .field_with_errors{
        label{
          color:adjust-lightness(#FFA5A5, -60);;
          background:#FFA5A5;      
        }
      }
    }
    ul{
      @include list-reset;
      li{
        margin:10px 0;
      }
    }
  }
  .datepicker{
    margin:10px 0;
  }
}

.bh-table{
  width:100%;
  @extend .bh-form;
  th{
    font-weight:bold;
    background-color:#f2f2f2;
  }
  th,td{
    vertical-align:top;
    padding:10px;
    border:1px solid $bh-form-border-color;
  }
  .bh-actions{
    vertical-align:middle;
    text-align:center;
    input,a{
      margin-bottom:5px;
      margin-right:5px;
    }
    &.bh-subtle{
      input,a{
        padding: 2px 4px;
        color: #ffffff;
        font-weight: bold;
        border:none;
        @include border-radius(0px);
      }
    }    
  }
  
}